doctype html
html
  head
    title TOPSOIL
    link(rel="stylesheet", href="styles/main.css")
    script(data-main='scripts/main.js', src='../bower_components/requirejs/require.js')
  body
    #output
    #input
  footer
