doctype html
html
  head
    title TOPSOIL
    link(rel="stylesheet", href="styles/main.css")
    script(src="bower_components/socket.io-client/socket.io.js")  
    script(src="scripts/term.js")  
  body
    #output
    span &gt
    input(type="text")
    #input
  footer