.ui.cards>div.process.card
  width 45%
.ui.cards>div.process.card>div.content>div.description
  overflow auto
  height 350px

.ui.tiny.basic.buttons
  float left

.content>.header
  float left

.ui.tiny.icon.buttons>.ui.basic.button
  padding-top 2.5px
