span.git.branch
  color red
span.git.directory
  color blue

.gitItem
  margin 5px

.gitItem .button
  float right
  margin-right 20px

.gitItem li
  list-style-type none
  margin 5px
  width 95%

.gitDiff
  padding 5px
  margin-top 15px

.gitFileName
  margin-right 10px
  font-size 1.3em

.gitDiff .gitRemoval
  background-color #ffecec

.gitDiff .gitAddition
  background-color #eaffea

.gitItem .ui.white
  background-color #FDFDFD

.hide
  display none

