pre
  overflow auto
  height 300px
  whitespace pre-wrap
span
  float left
  display inline
  padding-right 5px
input
  width 200px

.collapsible-header.active-item
  background-color green
  color: white
