input
  width 200px

.inputText
  height 100%

.collapsible-header.active-item
  background-color green
  color white

.regexEditor:hover
  background-color pink

.regexInput 
  width 200px

.activeSuggestion
  background-color #E7E7E7

.suggestionName
  padding-left 8px

.suggestionDescription
  color gray
  padding-left 8px

.suggestionArguments
  border-radius 25px
  padding-left 3px
  padding-right 3px
  background #FAD587
  margin-left 10px

.icon
  padding-left 5px
  width 25px