#terminal
  width 100%

.topsoilInputBox
 margin 10px

.inputText
  height 100%

.regexEditor:hover
  background-color pink

.regexInput
  width 200px

.activeSuggestion
  background-color #E7E7E7

.suggestionName
  padding-left 8px

.suggestionDescription
  color gray
  padding-left 8px

.suggestionArguments
  border-radius 25px
  padding-left 3px
  padding-right 3px
  background #FAD587
  margin-left 10px

.f-icon
  width 25px
  vertical-align: middle

.flex-container
  padding: 0
  margin: 0
  list-style: none

  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

  -webkit-flex-flow: row wrap


.flex-item
  opacity: 1

  width: 200px
  height: 150px


  line-height: 150px
  color: white
  font-weight: bold
  font-size: 2em
  text-align: center
  transition: opacity 1s

.flex-item:hover
  opacity: 0.5
  transition: opacity 1s

.subviews
  border-style: solid
  border-width: 2px
  height 100%


.icon
  padding-left 5px
  width 25px
// Begin magic inputs styling
backColor = #5F8779
backColorFocus = #8579F2
.magicinputs
  margin-right 1px
  font-size 10px
  color white
.magicinputs:focus
  outline none
#command:focus
  background backColorFocus
  border-left 6px solid backColorFocus
  border-right 6px solid backColorFocus
  border-top 3px solid backColorFocus
  border-bottom 3px solid backColorFocus
#command
  border-radius 5px 5px 5px 5px
  background backColor
  border-left 5px solid backColor
  border-right 5px solid backColor
  border-top 2px solid backColor
  border-bottom 2px solid backColor
.magicinputs.args:focus
  background backColorFocus
  border-left 6px solid backColorFocus
  border-right 6px solid backColorFocus
  border-top 3px solid backColorFocus
  border-bottom 3px solid backColorFocus
.magicinputs.args
  border-radius 20px 20px 20px 20px
  border-left 9px solid backColor
  border-right 9px solid backColor
  border-top 2px solid backColor
  border-bottom 2px solid backColor
  background backColor
.parentRow
  padding 15px
.parentofmagicinputs
  padding-bottom 5px
  padding-right 10px
  padding-left 2px
  margin-left 3px
  border-bottom 1px solid backColor
  transition: border-bottom 0.2s ease;
  width 100%
::-webkit-input-placeholder  /* WebKit browsers */
    color #EBF069
    font-weight bold
